<?php
/**
 * Database Configuration and Constants Template
 */

// App Root
define('APPROOT', dirname(dirname(__FILE__)));
// URL Root
define('URLROOT', 'http://localhost/YOUR_PROJECT_NAME/public');
// Site Name
define('SITENAME', 'ProNetwork');

// DB Params
define('DB_HOST', 'localhost');
define('DB_USER', 'root');
define('DB_PASS', 'YOUR_PASSWORD');
define('DB_NAME', 'pronetwork');
